.title-div {
    padding: 1%;
    background-color: aquamarine;
    text-align: center;
}

body {
    background-color: gray;
}

input {
    justify-content: flex-end;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 20px;
    border: black;
    border: solid;
    border-width: 3px;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

.operation_container{
    border: solid;
    background-color: antiquewhite;
    padding: 40px;
    margin:auto;
    width: 70%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.num-button{
    border: solid;
    border-radius: 20px;
    width: 10%;
    margin: 16px 0;
    margin-right: 9%;
    padding: 4%;
    font-size: large;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}